.background {
    background-image: url(../images/snowbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
} 

.card-title {
  text-align: left;
  padding: 0.5% 3%;
}

.card-text {
  text-align: left;
  padding: 0 3% 0 ;
}

.main-task-cards > h5 {
  text-align: left;
}

.page-name{
  font-weight:bold;
}

/*main.html styling*/

.container-fluid div {
  text-align:center;
}

#todays-tasks {
  box-sizing: border-box;
  font-weight:bold;
}


/*history.html styling*/

#calendar {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  width:70%;
  height:200px;
  padding:50px;
  border: 1px solid black;
  font-weight:bold;
}

#text1 {
  font-size:large;
}

#text2 {
  font-size:xx-large;
}

/*upload.html styling*/
#upload-photo {
  
  
  margin:auto;
  width:100%;
  height:325px;
  padding: 10px;

  font-weight:bold;
}

#image-cards {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  height:250px;
  padding:50px;
  border-radius: 17px solid black;
  font-weight:bold;
  box-sizing: border-box;
  width: 33.33%;
  overflow: auto;

}

#upload {
  align-items: center;
  width: auto;
  height: 300px;
}

footer {
  display: fixed;
  position:fixed;
  left: 0;
  bottom: -20%;
  width: 100%;
  background-color: white;
}

.creativity-task {
  background-color: #FDFD96;
  border: 1px solid black;
  padding: 2%;
  width: 60%;
  margin-left: 20%;
}

.physical-activity {
  background-color: #FF6961;  
  border: 1px solid black;
  padding: 2%;
  width: 60%;
  margin-left: 20%;   
}

.checkbox {
  position: relative;
  height: 100%;
  padding: 5%;
  float: left;
  padding: 4%;
  
}

.btn {
  position: relative;
  float:  right;
}

