.background {
    background-image: url(../images/snowbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} 

.card-title {
  text-align: center;
  padding: 0.5% 3%;
}

.card-text {
  text-align: left;
  padding: 0 3% 0 ;
}

.main-task-cards > h5 {
  text-align: left;
}

.page-name{
  font-weight:bold;
}

/*main.html styling*/

.container-fluid div {
  text-align:center;
}

#todays-tasks {
  box-sizing: border-box;
  font-weight:bold;
}


/*history.html styling*/

#calendar {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  width:70%;
  height:40vh;
  padding:50px;
  border: 1px solid black;
  font-weight:bold;
}

#text1 {
  font-size:large;
}

#text2 {
  font-size:xx-large;
}

/*upload.html styling*/
#upload-photo {
  
  
  margin:auto;
  width:100%;
  height:325px;
  padding: 10px;

  font-weight:bold;
}

#image-cards {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  height:250px;
  padding:50px;
  border-radius: 17px solid black;
  font-weight:bold;
  box-sizing: border-box;
  width: 33.33%;
  overflow: auto;

}

#upload {
  align-items: center;
  width: auto;
  height: 300px;
}

footer {
  position:relative;
  height: 15vh;
  width: 100vw;
  background-color: white;
}

.creativity-task {
  background-color: #FDFD96;
  border: 1px solid black;
  padding: 2%;
  width: 60%;
  margin-left: 20%;
}

.physical-activity {
  background-color: #FF6961;  
  border: 1px solid black;
  padding: 2%;
  width: 60%;
  margin-left: 20%;   
}

.checkbox {
  position: relative;
  height: 100%;
  padding: 5%;
  float: left;
  padding: 4%;
}

input.todo-checkbox {
  width: 2rem;
  height: 2rem;
}

.container-fluid.text-dark.p-5 {
  height:100vh;
}

.container{
  background: rgba(255, 255, 255, 0.527); 
  border-radius: 10px; border: 3px solid black;
  height: 80%;
}

#date-location-temp-description {
  font-size: 3vmin;
}

/* temperature.js */
#description {
  text-transform: capitalize;
}

.page-name {
  font-size: 2vmin;
}

body {
  background-color: #ececec;
}

.back-button {
	position: absolute;
  text-indent: -15px;
  padding: 5px 0 5px 10px;
  width: 12vmin;/* modified by label length */
	overflow: auto;
}
.label {
	display: block;
  width: auto;
  line-height: 3vmin;
  font-size: 1vmin;
  font-weight: 900;
  font-family: helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgba(239,239,239,1);
  border: 1px solid #bcbcbc;
  border-left: 0;
  color: #888; 
  text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
}

.label:hover {
  color: hsl(210, 100%, 40%); 
}