.background {
    background-image: url(../images/snowbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.main-task-cards {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  width:70%;
  height:50px;
  padding:50px;
  border: 1px solid black;
  font-weight:bold;
}

.page-name{
  font-weight:bold;
}

/*main.html styling*/

.container-fluid div {
  text-align:center;
}

#todays-tasks {
  box-sizing: border-box;
  font-weight:bold;
}


/*history.html styling*/

#calendar {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  width:70%;
  height:200px;
  padding:50px;
  border: 1px solid black;
  font-weight:bold;
}

#text1 {
  font-size:large;
}

#text2 {
  font-size:xx-large;
}

/*upload.html styling*/
#upload-photo {
  
  
  margin:auto;
  width:100%;
  height:325px;
  padding: 10px;

  font-weight:bold;
}

#image-cards {
  box-sizing: border-box;
  background-color:white;
  margin:auto;
  width:60%;
  height:250px;
  padding:50px;
  border: 1px solid black;
  font-weight:bold;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
}

#upload {
  align-items: center;
  width: auto;
  height: 300px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
